<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<string>instructions-01</string>
		<string>instructions-02</string>
		<string>instructions-03</string>
		<string>instructions-04</string>
		<string>instructions-05</string>
	</array>
	<key>physical</key>
	<array>
		<string>instructions-physical</string>
	</array>
	<key>2D</key>
	<array>
		<string>instructions-2d</string>
	</array>
	<key>mono</key>
	<array>
		<string>instructions-mono</string>
	</array>
	<key>stereo</key>
	<array>
		<string>instructions-stereo</string>
	</array>
	<key>training</key>
	<array>
		<string>instructions-training</string>
	</array>
</dict>
</plist>
